<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome</title>
    <style>

    </style>
  </head>
  <body>

  <!--    alerts start here-->
  {% if book_not_found %}

        <div class="alert alert-success" role="alert" style="margin:10px;"	>
		Book Not Found.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
        </div>

  {% elif no_copies %}

        <div class="alert alert-success" role="alert" style="margin:10px;"	>
		No Copies Available.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
        </div>

  {% elif success %}

        <div class="alert alert-success" role="alert" style="margin:10px;"	>
		Book Issued Successfully.
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
        </div>

  {% endif %}





      <img src="{{ MEDIA_URL }}/media/kbtlogo.png" height="100" width="100" style="margin-top: 20px ">
      <div style="text-align: right"><img src="{{ MEDIA_URL }}/media/agrade.jpg" height="100" width="130" style="margin: -130px 0px 0px 0px"></div>
      <h3 style="text-align: center;color:#00203FFF;margin-top:-100px ">Nashik District Maratha Vidya Prasarak Samaj's</h3>
      <h2 style="color:#00203FFF;text-align: center;"> Karmaveer Adv. Baburao  Ganpatrao Thakre College of Engineering  </h2>
      <h2 style="text-align: center;color:#00203FFF"><i> IT  Department , Library </i></h2>

<!--      for login-->
      <div align="right" style="margin-right:100px">
           {% if user.is_authenticated %}
            Hi {{ user.username }}!
            <p><a href="{% url 'logout' %}">logout</a></p>

            <div align="left" style="margin-left:100px;margin-top:-50px;">
              <a  href="http://127.0.0.1:8000/records" >
                <button style="text-align: right" type="button" class="btn btn-outline-secondary">Back</button>  <!--  login button-->
              </a>
            </div>

      </div>

<!--      this is form -->
      <div class="jumbotron" style="margin: 20px 100px 30px 100px;background-color: #ADEFD1FF">

         <form action="issue_book" method="post" style="margin: 20px">

            {% csrf_token %}
            <h4>Book Issue Form</h4>
            <br>
            <div class="form-group row">
              <label for="input1" class="col-sm-2 col-form-label">Book ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input1" name="book_id" placeholder="Book ID">
              </div>
            </div>

            <div class="form-group row">
              <label for="input2" class="col-sm-2 col-form-label">Student ID</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input2" name="student_id" placeholder="Student ID">
              </div>
            </div>

            <div class="form-group row">
              <label for="input3" class="col-sm-2 col-form-label">Student Name</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" name="student_name" id="input3" placeholder="Student Name">
              </div>
            </div>


            <div class="form-group row">
              <label for="input4" class="col-sm-2 col-form-label">Year</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="input4" name="year" placeholder="Year">
              </div>
            </div>

    <!--            submit button-->
            <center>
                    <button type="submit" class="btn btn-outline-success" style="margin:10px">Issue Book</button>
            </center>

         </form>
      </div>

      {% else %}
      <hr>
        <center>
            <p>You are not logged in</p>
            <a href="{% url 'login' %}">login</a>
        </center>
      {% endif %}


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>